:root {
  /* Blue */
  --blue-100: #0B71D9;
  --blue-200: #0A64BF;
  --blue-300: #0959AB;

  --white: #FFFFFF;
  --black: #000000;
}

/*| 'blue'*/
/*| 'green'*/
/*| 'red'*/
/*| 'white'*/
/*| 'orange'*/
/*| 'violet'*/
/*| 'gray'*/
/*| 'gray_dark'*/
/*| 'gray_soft'*/
/*| 'black';*/
